{% extends 'base.html' %}

{% block title %}BioEvgenica{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.1906900254403!2d27.514636616109154!3d53.91058728010118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc55eac1f56b1%3A0xf5c56492f1d77064!2zNSDRjdGC0LDQtiwg0L7RhNC40YEgNDIsINGD0LsuINCh0LrRgNGL0LPQsNC90L7QstCwIDbQsCwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1634397860695!5m2!1sru!2sby" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-4"><h2>Этот текст должен писать не я</h2><h4>Однако если я оставлю это место пустым, будет чувство не законченности страницы.Разве что смогу дописать тут телефон +375298100994</h4></div>
    </div>
</div>
{% endblock %}