{% extends 'base.html' %}

{% block title %}BioEvgenica{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" xmlns="http://www.w3.org/1999/html">
      <h1 class="display-4 fw-normal">COSTUME JEWELRY</h1>
      <p class="fs-5 text-muted">Made by the heart, for the soul</p>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/OknwN.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Shirt cufflinks </center></h5> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/cufflink'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/OnEek.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Rings </center></h5> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/rings'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/Okoo3.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Gorgeous earrings </center></h5> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/earrings'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/OkoSO.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Brooch </center></h5></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/brooch'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/OkoFf.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Necklace </center></h5></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/necklace'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.yapx.ru/OgJ6J.png" alt = 'Упс...' class="bd-placeholder-img card-img-top" width="100%" height=auto >
            <div class="card-body">
                <p class="card-text"><h5><center> Tie clip </center></h5></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = '/clip'> See more </a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}