{% extends 'base.html' %}

{% block title %}
<h1>Добавление товара</h1>
{% endblock %}

{% block body %}
<div class ='container mt-5'>
    <h1>Редактировать товар</h1>
    <form method ='post'>
        <input type ='text' class = 'form-control' name = "num" id = "num" value="{{ article.id }}" placeholder="Еще раз ID записи"><br>
        <input type ='text' class = 'form-control' name = "link" id = "link" value="{{ article.link }}" placeholder="Вставте ссылку на фото"><br>
        <input type ='text' class = 'form-control' name = "model" id = "model" value="{{ article.model }}" placeholder="Нужно знать модель для сортировки"><br>
        <input type ='number' class = 'form-control' name = "price" id = "price" value="{{ article.price }}" placeholder="Введите цену"><br>
        <input type ='text' class = 'form-control' name = "description" id = "description" value="{{ article.description }}" placeholder="Это описание будет видно под иконкой"><br>
        <input type ='text' class = 'form-control' name = "full_post" id = "full_post"  value="{{ article.full_post }}"placeholder="Длинный пост о украшении"><br>
        <input type ='text' class = 'form-control' name = "photo1" id = "photo1" value="{{ article.photo1 }}"  placeholder="Фото1"><br>
        <input type ='text' class = 'form-control' name = "photo2" id = "photo2" value="{{ article.photo2 }}"  placeholder="Фото2"><br>
        <input type ='text' class = 'form-control' name = "photo3" id = "photo3" value="{{ article.photo3 }}"  placeholder="Фото3"><br>
        <button class = 'btn btn-success' type = 'submit'>Обновить данные товара</button>
    </form>
</div>
{% endblock %}
